
    <nav class="navbar navbar-expand-lg navbar-light shadow-lg p-3 mb-5 bg-white rounded">
        <div class="container-fluid">
           
            <a class="navbar-brand" href="/" style="color: rgb(199, 30, 30);"> <img src="../../assets/logo.png" width="40px" style="border-radius:20px; padding: 5px;"><b>Insurify</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link"  aria-current="page" routerLink="/">Home <i class="fa-solid fa-house"></i></a>
                    </li>
            
                 
                    <li class="nav-item">
                        <a class="nav-link"  routerLink="/contact">Contact Us <i class="fa-solid fa-phone"></i></a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link"  href="/notification">Notifications <i class="fa-solid fa-bell"></i></a>
        
                    </li> -->
                    
                    <!-- <li class="nav-item">
                        <a class="nav-link"  routerLink="/policies">Policies <i class="fa-solid fa-book"></i></a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link"  routerLink="/about" >About <i class="fa-solid fa-circle-info"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"  routerLink="/knowledge" >Knowledge Center <i class="fa-solid fa-book-open-reader"></i></a>
                    </li> 
                    
                </ul>

                <!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">Search</button>
                </form> -->
                <div class="mx-2">
                    <a class="btn btn-primary" routerLink="/login" role="button">Login/Register</a>
                    <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LoginModal">Login/Register</button> -->
                    <!-- <i class="fa-solid fa-bell"></i> -->
                    <!-- <button class="btn btn-primary" data-bs-toggle="modal" routerLink="/login" data-bs-target="#LoginModal">Login/Register</button> -->
                </div>
                <!-- <div>
                    <a class="fa-2x fa-solid fa-bell" href="/notification" style="text-decoration: none;"></a>
                    <h3 class="m-b-50 heading-line">Notifications <i class="fa fa-bell text-muted"></i></h3>
                
                </div> -->
            </div>
        </div>
    </nav>


 